/* @mixin desktop-full {
    @media (min-width: 1800px) { @content; }
  }*/
.cortinaBg {
  border-top: 1px solid #333333;
  background-color: #222222;
  width: 100%;
  height: 64px;
  z-index: 3;
  top: 0;
  left: 0;
  -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.cortina .cortinaBg {
  height: 100vh;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  position: absolute;
  z-index: 1;
}

.cortina div:first-child .menu-hambuguer p {
  overflow: hidden;
}

.cortina div:first-child .menu-hambuguer p span {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform: translateY(-13px);
          transform: translateY(-13px);
}

.cortina div:first-child .hambuguer {
  -webkit-transform: rotate(90deg) scale(0.8) !important;
          transform: rotate(90deg) scale(0.8) !important;
}

.cortina div:first-child .hambuguer span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(-1px, -8px);
          transform: rotate(45deg) translate(-1px, -8px);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-color: #d5d5d5;
}

.cortina div:first-child .hambuguer span:nth-child(2) {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.cortina div:first-child .hambuguer span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(0, -9px);
          transform: rotate(-45deg) translate(0, -9px);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-color: #d5d5d5;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #333333;
  top: 0;
}

.header div:first-child {
  padding-left: 16px;
  border-right: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  height: 64px;
}

.header div:first-child p {
  font-size: 11px;
  text-transform: uppercase;
  margin-left: 8px;
  padding-right: 8px;
  color: rgba(35, 31, 32, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  overflow: hidden;
  height: 20px;
}

.header div:first-child p span {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.header div:first-child a {
  padding-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.header div:first-child a:hover p {
  font-size: 11px;
}

.header div:first-child .hambuguer {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
}

.header div:first-child .hambuguer span {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  display: block;
  width: 2px;
  height: 24px;
  background-color: #55AC47;
  border-radius: 4px;
  margin: 0 2px;
}

.header div:nth-child(2) {
  z-index: 2;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header div:nth-child(2) svg {
  height: 32px;
}

@media (max-width: 599px) {
  .header div:nth-child(2) svg {
    display: none;
  }
}

.header div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 32px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

@media (max-width: 599px) {
  .header div:last-child {
    display: none;
  }
}

.header div:last-child a:first-child {
  margin-right: 24px;
}

.header div:last-child a {
  height: 24px;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.header div:last-child a img {
  height: 24px;
}

.header div:last-child a:hover {
  opacity: 0.4;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.header div:last-child a:hover::after {
  content: ' ';
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  display: block;
  border-bottom: 2px solid #59595B;
  height: 2px;
  width: auto;
}

.template-black div:first-child p {
  color: #d5d5d5;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}
/*# sourceMappingURL=header.css.map */