/* @mixin desktop-full {
    @media (min-width: 1800px) { @content; }
  }*/
.cortinaBg {
  border-top: 1px solid #333333;
  background-color: #222222;
  width: 100%;
  height: 64px;
  z-index: 3;
  top: 0;
  left: 0;
  -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.cortina .cortinaBg {
  height: 100vh;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  position: absolute;
  z-index: 1;
}

.cortina div:first-child .menu-hambuguer p {
  overflow: hidden;
}

.cortina div:first-child .menu-hambuguer p span {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform: translateY(-13px);
          transform: translateY(-13px);
}

.cortina div:first-child .hambuguer {
  -webkit-transform: rotate(90deg) scale(0.8) !important;
          transform: rotate(90deg) scale(0.8) !important;
}

.cortina div:first-child .hambuguer span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(-1px, -8px);
          transform: rotate(45deg) translate(-1px, -8px);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-color: #d5d5d5;
}

.cortina div:first-child .hambuguer span:nth-child(2) {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.cortina div:first-child .hambuguer span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(0, -9px);
          transform: rotate(-45deg) translate(0, -9px);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-color: #d5d5d5;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #333333;
  top: 0;
}

.header div:first-child {
  padding-left: 16px;
  border-right: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  height: 64px;
}

.header div:first-child p {
  font-size: 11px;
  text-transform: uppercase;
  margin-left: 8px;
  padding-right: 8px;
  color: rgba(35, 31, 32, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  overflow: hidden;
  height: 20px;
}

.header div:first-child p span {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.header div:first-child a {
  padding-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.header div:first-child a:hover p {
  font-size: 11px;
}

.header div:first-child .hambuguer {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
}

.header div:first-child .hambuguer span {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  display: block;
  width: 2px;
  height: 24px;
  background-color: #55AC47;
  border-radius: 4px;
  margin: 0 2px;
}

.header div:nth-child(2) {
  z-index: 2;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header div:nth-child(2) svg {
  height: 32px;
}

@media (max-width: 599px) {
  .header div:nth-child(2) svg {
    display: none;
  }
}

.header div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 32px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

@media (max-width: 599px) {
  .header div:last-child {
    display: none;
  }
}

.header div:last-child a:first-child {
  margin-right: 24px;
}

.header div:last-child a {
  height: 24px;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.header div:last-child a img {
  height: 24px;
}

.header div:last-child a:hover {
  opacity: 0.4;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.header div:last-child a:hover::after {
  content: ' ';
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  display: block;
  border-bottom: 2px solid #59595B;
  height: 2px;
  width: auto;
}

.template-black div:first-child p {
  color: #d5d5d5;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

/* @mixin desktop-full {
    @media (min-width: 1800px) { @content; }
  }*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  font-weight: 100;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p, strong, em {
  font-size: 16px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
}

p:first-child {
  margin-top: 24px;
}

small {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #55AC47;
}

a:hover {
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
}

button {
  font-family: "Inter", sans-serif;
  padding: 8px 56px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 16px 0;
  background-color: #55AC47;
  border-radius: 4px;
  border: 1px solid #438838;
  font-weight: 600;
  color: #333333;
  -webkit-transition: background-color 400ms ease-out;
  transition: background-color 400ms ease-out;
  letter-spacing: 1px;
}

button:hover {
  background: #438838;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

html {
  /*
  overflow: hidden;
  height: 100%;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /*
  height: 100%;
  overflow: auto;*/
  font-size: 16px;
  line-height: 24px;
}

.wrapper {
  padding: 24px 16px 16px 16px;
  margin-top: 80px;
  max-width: 960px;
  margin: 0 auto;
}

.grid {
  padding: 24px 0 16px 0;
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
}

@media (max-width: 599px) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.grid .thumb {
  background: #d5d5d5;
  height: 100vh;
  overflow: hidden;
}

.grid .thumb img {
  -webkit-transform: translateX(-50%) scale(1.11);
          transform: translateX(-50%) scale(1.11);
  background-size: cover;
  margin-left: 50%;
}

@media (max-width: 599px) {
  .grid .thumb img {
    width: auto;
    height: 100%;
  }
}

.reading {
  width: 202px;
  position: absolute;
  right: 24px;
  transform: translateX(15px);  
  overflow: hidden;
  width: 24px;
  height: 24px;
  margin-left: 24px;
}

.reading .complete {
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}

.template-black {
  background: #222222;
}

.template-black .logoPreto {
  fill: #d5d5d5;
}

.template-black h1, .template-black h2, .template-black h3, .template-black h4, .template-black h5, .template-black h6, .template-black P, .template-black strong, .template-black em, .template-black small {
  color: #d5d5d5;
}

.template-white {
  background: #d5d5d5;
}

.template-white .logoPreto {
  fill: #222222;
}

.template-white h1, .template-white h2, .template-white h3, .template-white h4, .template-white h5, .template-white h6, .template-white P, .template-white strong, .template-white em, .template-white small {
  color: #222222;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  height: 100vh;
}

.content .texto {
  max-width: 420px;
  line-height: 40px;
}

.content .texto .word {
  overflow: hidden;
}

.content .texto h2 {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-animation: letter 0.4s cubic-bezier(1, -0.01, 0, 0.99) forwards;
          animation: letter 0.4s cubic-bezier(1, -0.01, 0, 0.99) forwards;
}

.content .texto span {
  font-weight: bold;
  letter-spacing: 2px;
}

.content .texto h4 {
  font-weight: 100;
  text-transform: uppercase;
  color: #55AC47;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-animation: letter-second 0.4s cubic-bezier(1, -0.01, 0, 0.99) forwards;
          animation: letter-second 0.4s cubic-bezier(1, -0.01, 0, 0.99) forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  /* &::before {
        position: absolute;
        content: "";
        width: 32px;
        height: 32px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjciIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyNyAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjUgMEM1Ljg4NDY0IDAgMCA2LjMgMCAxNEMwIDIxLjcgNS44ODQ2NCAyNy42NSAxMy41IDI4QzIxLjExNTQgMjggMjcgMjEuNyAyNyAxNEMyNyA2LjMgMjEuMTE1NCAwIDEzLjUgMFpNMjEuMTE1NCAxNEMyMS4xMTU0IDE4LjIgMTcuNjUzOSAyMS43IDEzLjUgMjEuN0M5LjM0NjE4IDIxLjcgNS44ODQ2NiAxOC4yIDUuODg0NjYgMTRDNS44ODQ2NiA5LjggOS4zNDYxOCA2LjMgMTMuNSA2LjNDMTcuNjUzOSA2LjMgMjEuMTE1NCA5LjQ1IDIxLjExNTQgMTRaIiBmaWxsPSIjNTVBQzQ3Ii8+Cjwvc3ZnPgo=);
        background-repeat: no-repeat;
        transform: translateY(4px);
        left: -10px;
      }    */
}

.content .texto P {
  -webkit-animation: fade 0.4s cubic-bezier(1, -0.01, 0, 0.99) forwards;
          animation: fade 0.4s cubic-bezier(1, -0.01, 0, 0.99) forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  opacity: 0;
}

.content .word {
  overflow: hidden;
  margin-top: 8px;
}

.content .foto {
  position: relative;
}

.content .foto .elemento {
  width: 400px;
  height: 400px;
  background-color: #55AC47;
  border-radius: 100%;
  z-index: 10;
}

.content .foto .elemento img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.logoCinza {
  fill: #59595B;
}

.logoVerde {
  fill: #55AC47;
}

/* cover */
.cover-home {
  width: 100%;
  height: 100vh;
  margin-top: -80px;
  -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cover-home .cover-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: red;
}

.cover-home .cover-block:first-child {
  background: #1d1d1d;
  height: 100vh;
  width: 50vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cover-home .cover-block:first-child .word {
  overflow: hidden;
}

.cover-home .cover-block:first-child .word h2 {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-animation: letter 0.4s cubic-bezier(1, -0.01, 0, 0.99) forwards;
          animation: letter 0.4s cubic-bezier(1, -0.01, 0, 0.99) forwards;
}

.cover-home .cover-block:first-child div {
  max-width: 450px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

@media (max-width: 599px) {
  .cover-home .cover-block:first-child div {
    -webkit-transform: translateY(180px) scale(0.8);
            transform: translateY(180px) scale(0.8);
  }
}

.cover-home .cover-block:first-child h2 {
  line-height: 48px;
  letter-spacing: 1px;
}

.cover-home .cover-block:first-child span {
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  color: #55AC47;
}

.cover-home .cover-block:first-child p {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cover-home .cover-block:last-child {
  width: 50vw;
  height: 100vh;
  background: #1d1d1d;
}

@media (max-width: 599px) {
  .cover-home {
    display: block;
    height: auto;
  }
  .cover-home .cover-block {
    display: block;
  }
  .cover-home .cover-block:first-child {
    height: 100vh;
    width: 100vw;
  }
  .cover-home .cover-block:last-child {
    width: 100vw;
  }
}

/* footer */
.hmd-bg {
  background: #08D1FD !important;
}

footer {
  overflow: hidden;
}

.signature {
  width: 100%;
  height: 32px;
  margin: 0 auto;
  padding-top: 16px;
}

.signature .dados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #d5d5d5;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 599px) {
  .signature .dados {
    display: block;
  }
}

.signature .dados div {
  max-width: 250px;
}

.signature .dados div:first-child {
  text-align: left;
}

.signature .dados div:first-child span {
  font-weight: bold;
  margin-bottom: 8px;
}

@media (max-width: 599px) {
  .signature .dados div:first-child {
    text-align: center;
    margin: 0 auto 16px auto;
  }
}

.signature .dados div:last-child {
  text-align: right;
}

@media (max-width: 599px) {
  .signature .dados div:last-child {
    padding-top: 32px;
    text-align: center;
    margin: 0 auto;
  }
  .signature .dados div:last-child small {
    color: #59595B;
  }
}

.signature P {
  border-top: 1px solid #59595B;
  padding-top: 16px;
  margin-top: 32px;
  padding: 16px;
  color: #59595B;
  font-size: 14px;
  text-align: center;
}

#coverup {
  position: relative;
  left: 0;
  top: -40px;
  width: 100vw;
  height: 40px;
  background: #222222;
}

#embla {
  height: 350px;
}

.carousel {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  will-change: transform;
  overflow-x: scroll;
  width: 100vw;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  padding: 16px;
}

.carousel .carousel-cell:last-child {
  padding-right: 60px;
}

.carousel .carousel-cell:last-child .card {
  margin-right: 48px;
}

.carousel .carousel-cell {
  margin-right: 16px;
}

.carousel .carousel-cell .card-content {
  width: 680px;
  height: 328px;
  padding-bottom: 20px;
}

.carousel .carousel-cell .card-content .card {
  overflow: hidden;
  width: 680px;
  background-color: #333333;
  border-radius: 4px;
  height: 318px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  transition: all 300ms cubic-bezier(1, 0, 0, 1);
  -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0);
          box-shadow: 8px 8px 8px rgba(0, 0, 0, 0);
  background-color: #333333;
  border: #0e0e0e;
}

@media (max-width: 599px) {
  .carousel .carousel-cell .card-content .card {
    height: 301px;
  }
}

.carousel .carousel-cell .card-content .card a {
  display: none;
}

.carousel .carousel-cell .card-content .card:hover {
  -webkit-box-shadow: 0px 0px 24px rgba(89, 89, 91, 0.2);
          box-shadow: 0px 0px 24px rgba(89, 89, 91, 0.2);
  cursor: -webkit-grab;
  cursor: grab;
}

.carousel .carousel-cell .card-content .card:hover .image {
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.carousel .carousel-cell .card-content .card:hover .image img {
  width: 40%;
  -webkit-transform: translateX(44px);
          transform: translateX(44px);
}

.carousel .carousel-cell .card-content .card:hover .text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  color: white;
  padding-right: 10px;
  font-family: "Open Sans", sans-serif;
}

.carousel .carousel-cell .card-content .card:hover .text small {
  color: white;
  font-family: "Open Sans", sans-serif;
}

.carousel .carousel-cell .card-content .card:hover .text a {
  display: inline;
  color: white;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.carousel .carousel-cell .card-content .card .text {
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  width: 332px;
  z-index: 2;
  -webkit-transform: translate(332px, 32px);
          transform: translate(332px, 32px);
  z-index: 2;
  position: absolute;
  padding-right: 10px;
  color: #59595B;
  height: 263px;
}

@media (max-width: 599px) {
  .carousel .carousel-cell .card-content .card .text {
    padding: 24px;
    position: relative;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    height: 292px;
  }
}

.carousel .carousel-cell .card-content .card .text::after {
  display: block;
  padding-top: 8px;
  letter-spacing: 1px;
  content: 'CHECK IT OUT!';
  font-size: 16px;
  bottom: 0;
  font-family: "Open Sans", sans-serif;
  position: absolute;
}

.carousel .carousel-cell .card-content .card .text small {
  color: #55AC47;
  font-size: 16px;
  margin-bottom: 24px;
  font-family: "Open Sans", sans-serif;
}

.carousel .carousel-cell .card-content .card .text h2 {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 0px;
  font-family: "Inter", sans-serif;
  padding: 8px 0;
}

.carousel .carousel-cell .card-content .card .text p {
  font-size: 16px;
  padding-right: 10px;
  width: 330px;
  overflow: hidden;
  text-overflow: clip;
  line-height: 24px;
}

@media (max-width: 599px) {
  .carousel .carousel-cell .card-content .card .text p {
    font-size: 16px;
    line-height: 24px;
    width: 250px;
    overflow: hidden;
    text-overflow: clip;
    height: 148px;
  }
}

.carousel .carousel-cell .card-content .card .image {
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  height: 264px;
  width: 264px;
  background: #AA3630;
  -webkit-transform: translate(32px, 32px);
          transform: translate(32px, 32px);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 1;
  overflow: hidden;
}

.carousel .carousel-cell .card-content .card .image img {
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  width: 80%;
  -webkit-transform: translateX(44px);
          transform: translateX(44px);
}

.logo-mobile {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjciIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyNyAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjUgMEM1Ljg4NDY0IDAgMCA2LjMgMCAxNEMwIDIxLjcgNS44ODQ2NCAyNy42NSAxMy41IDI4QzIxLjExNTQgMjggMjcgMjEuNyAyNyAxNEMyNyA2LjMgMjEuMTE1NCAwIDEzLjUgMFpNMjEuMTE1NCAxNEMyMS4xMTU0IDE4LjIgMTcuNjUzOSAyMS43IDEzLjUgMjEuN0M5LjM0NjE4IDIxLjcgNS44ODQ2NiAxOC4yIDUuODg0NjYgMTRDNS44ODQ2NiA5LjggOS4zNDYxOCA2LjMgMTMuNSA2LjNDMTcuNjUzOSA2LjMgMjEuMTE1NCA5LjQ1IDIxLjExNTQgMTRaIiBmaWxsPSIjNTVBQzQ3Ii8+Cjwvc3ZnPgo=");
}

.hidden {
  overflow: hidden;
}

@-webkit-keyframes letter {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes letter {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes letter-second {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes letter-second {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container:before {
  content: "";
  /*position: fixed;*/
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  /*width: 125vmax;
  height: 125vmax;*/
  border-radius: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a6c1ee));
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  -webkit-box-shadow: 0 0 20px pink;
          box-shadow: 0 0 20px pink;
  -webkit-transition: all 500ms cubic-bezier(0.49, 0.23, 0, 0.99);
  transition: all 500ms cubic-bezier(0.49, 0.23, 0, 0.99);
  opacity: 0;
}

.completed:before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 0.5;
}

svg {
  position: -webkit-sticky;
  position: sticky;
}

svg circle {
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 40px;
  stroke-linecap: round;
  fill: transparent;
}

svg .progress-bar {
  stroke: url(#grad);
  -webkit-transition: stroke-dashoffset 0 ease-in-out;
  transition: stroke-dashoffset 0 ease-in-out;
  -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
}

/*
.pct {
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  font-feature-settings: "tnum"; 
  font-variant-numeric: tabular-nums;
}

.progress {
  display: none!important;
  //border: 1px solid red;
  position: fixed;
  right: 0;
  transform: scale(0.2);
}
*/
@media (max-width: 720px) {
  .carousel .carousel-cell .card-content .card .image {
    display: none;
  }
  .carousel .carousel-cell .card-content .card {
    width: 300px;
  }
  .carousel .carousel-cell .card-content .card:hover, .carousel .carousel-cell .card-content .card:active {
    -webkit-box-shadow: 10px 10px 10px rgba(89, 89, 91, 0);
            box-shadow: 10px 10px 10px rgba(89, 89, 91, 0);
    cursor: -webkit-grab;
    cursor: grab;
    width: 300px;
  }
  .carousel .carousel-cell .card-content {
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */