/* @mixin desktop-full {
    @media (min-width: 1800px) { @content; }
  }*/
.circule-loading svg {
  position: -webkit-sticky;
  position: sticky;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.circule-loading svg circle {
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 40px;
  stroke-linecap: round;
  fill: transparent;
}

.circule-loading svg .progress-bar {
  stroke: url(#grad);
  -webkit-transition: stroke-dashoffset 0 ease-in-out;
  transition: stroke-dashoffset 0 ease-in-out;
  -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
}

.circule-loading .completed:before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 0.5;
}

.cortinaBg {
  border-top: 1px solid #333333;
  background-color: #222222;
  width: 100%;
  height: 64px;
  z-index: 3;
  top: 0;
  left: 0;
  -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.cortina .cortinaBg {
  height: 100vh;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  position: absolute;
  z-index: 1;
}

.cortina div:first-child .menu-hambuguer p {
  overflow: hidden;
}

.cortina div:first-child .menu-hambuguer p span {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform: translateY(-13px);
          transform: translateY(-13px);
}

.cortina div:first-child .hambuguer {
  -webkit-transform: rotate(90deg) scale(0.8) !important;
          transform: rotate(90deg) scale(0.8) !important;
}

.cortina div:first-child .hambuguer span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(-1px, -8px);
          transform: rotate(45deg) translate(-1px, -8px);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-color: #d5d5d5;
}

.cortina div:first-child .hambuguer span:nth-child(2) {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.cortina div:first-child .hambuguer span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(0, -9px);
          transform: rotate(-45deg) translate(0, -9px);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-color: #d5d5d5;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #333333;
}

.header div:first-child {
  padding-left: 16px;
  border-right: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  height: 64px;
}

.header div:first-child p {
  font-size: 11px;
  text-transform: uppercase;
  margin-left: 8px;
  padding-right: 8px;
  color: rgba(35, 31, 32, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  overflow: hidden;
  height: 20px;
}

.header div:first-child p span {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.header div:first-child a {
  padding-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.header div:first-child a:hover p {
  font-size: 11px;
}

.header div:first-child .hambuguer {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
}

.header div:first-child .hambuguer span {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  display: block;
  width: 2px;
  height: 24px;
  background-color: #55AC47;
  border-radius: 4px;
  margin: 0 2px;
}

.header div:nth-child(2) {
  z-index: 2;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header div:nth-child(2) .circule-loading {
  display: none;
}

.header div:nth-child(2) svg {
  height: 32px;
}

@media (max-width: 599px) {
  .header div:nth-child(2) svg {
    display: none;
  }
}

@media (max-width: 599px) {
  .header div:nth-child(2) .circule-loading {
    display: inherit;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header div:nth-child(2) .circule-loading .complete {
    display: inherit;
    width: 40px;
    height: 30px;
  }
  .header div:nth-child(2) .circule-loading .progress-bar {
    -webkit-transform: scale(0.2) translateY(-26px);
            transform: scale(0.2) translateY(-26px);
  }
  .header div:nth-child(2) .circule-loading .progress-before {
    -webkit-transform: scale(0.2) translateY(-26px);
            transform: scale(0.2) translateY(-26px);
  }
}

.header div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 32px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

@media (max-width: 599px) {
  .header div:last-child {
    display: none;
  }
}

.header div:last-child a:first-child {
  margin-right: 24px;
}

.header div:last-child a {
  height: 24px;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.header div:last-child a img {
  height: 24px;
}

.header div:last-child a:hover {
  opacity: 0.4;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.header div:last-child a:hover::after {
  content: ' ';
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  display: block;
  border-bottom: 2px solid #59595B;
  height: 2px;
  width: auto;
}

.template-black div:first-child p {
  color: #d5d5d5;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

@media (max-width: 599px) {
  .cover-home .cover-block:last-child {
    padding-left: 20px;
  }
}

/* @mixin desktop-full {
    @media (min-width: 1800px) { @content; }
  }*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  font-weight: 100;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p, strong, em {
  font-size: 16px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
}

p:first-child {
  margin-top: 24px;
}

small {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #55AC47;
}

a:hover {
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
}

button {
  font-family: "Inter", sans-serif;
  padding: 8px 56px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 16px 0;
  background-color: #55AC47;
  border-radius: 4px;
  border: 1px solid #438838;
  font-weight: 600;
  color: #333333;
  -webkit-transition: background-color 400ms ease-out;
  transition: background-color 400ms ease-out;
  letter-spacing: 1px;
}

button:hover {
  background: #438838;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
/*# sourceMappingURL=index.css.map */